@using SRSprojekt.Models
@model Klub
@{
    ViewBag.Title = "Brisi";
}

<h2>@ViewBag.Title</h2>

Jeste li sigurni da zelite izbrisati klub @Model.PuniNaziv?

@using (Html.BeginForm("Brisi", "Klub"))
            {
                @Html.AntiForgeryToken();
    <input type="submit" value="Izbrisi" />
    <br />
    <br />
    @Html.ActionLink("Odustani", "Popis");
            }

