@using SRSprojekt.Models
@model Klub
@{
    ViewBag.Title = "Detalji";
}

<h2>Detalji o klubu</h2>


Naziv kluba: @Model.naziv <br />
Adresa kluba: @Model.adresa <br />
Broj stolova: @Model.broj_stolova <br />
