@using SRSprojekt.Models
@model Klub
@{
    ViewBag.Title = "Detalji";


}

<h2>Detalji o klubu</h2>


Naziv kluba: @Model.nazivK <br />
Adresa kluba: @Model.adresaK <br />
Broj stolova: @Model.brStol <br />

