@{
    ViewBag.Title = "Reservation Success";
}

<h2>Reservation Successful</h2>

<div class="alert alert-success">
    <h4>Uspjeh!</h4>
    <p>Vaša rezervacija je uspješno napravljena. Hvala vam na korištenju usluge SRS-a.</p>
    @if (User.Identity.IsAuthenticated && (User as SRSprojekt.Misc.curUser).IsInRole(SRSprojekt.Misc.OvlastiKorisnik.Administrator))
    {
        <a href="@Url.Action("Index", "rezervacijas")" class="btn btn-primary">Vrati se na listu rezervacija</a>
    }

    </div>
