
@{
    ViewBag.Title = "Registracija korisnika";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<div class="alert alert-success" role="alert">Uspješno ste se registrirali! Možete se prijaviti u aplikaciju.</div>

@Html.ActionLink("Prijava u aplikaciju", "Prijava")
