<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>rezerviranje</title>
   
</head>
<body>
    <div class="container">
        
        <div class="column">
            <form method="post" action="SendEmailK">
                <div class="container">
                    <span class="form-control-static"> Ime kluba: </span>
                    <input class="form-control" type="text" name="ime" /> <br />
                    <span class="form-control-static"> Adresa: </span>
                    <input class="form-control" type="text" name="adresa" /> <br />
                    <span class="form-control-static"> Cijenovni rang: </span>
                    <input class="form-control" type="text" name="CR" /> <br />
                    <span class="form-control-static"> Broj stolova: </span>
                    <input class="form-control" type="text" name="brS" /> <br />
                    <span class="form-control-static"> Ime i prezime kontakt osobe: </span> <input class="form-control" type="text" name="ipo" />
                    <br /> <span class="form-control-static"> Kontakt telefon: </span> <input class="form-control" type="text" name="ko" />
                    <br /> <span class="form-control-static"> Kontakt mail: </span> <input class="form-control" type="text" name="Email" />
                    <br /> <input class="btn btn-primary" type="submit" value="Send" />
                </div>
            </form>
        </div>
    </div>
</body>
</html>
