@using SRSprojekt.Models
@model Rezervator
@{
    ViewBag.Title = "Brisi";
}

<h2>@ViewBag.Title</h2>

Jeste li sigurni da zelite izbrisati klub @Model.ImePrezime?

@using (Html.BeginForm("Brisi", "Rezervator"))
{
    @Html.AntiForgeryToken();
    <input type="submit" value="Izbrisi" />
    <br />
    <br />
    @Html.ActionLink("Odustani", "Popis");
}

