
@{
    ViewBag.Title = "Status brisanja rezervatora";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Podaci uspjesno obrisani</h2>

@Html.ActionLink("Povratak na popis rezervatora", "Popis");

